{% extends 'base.html.twig' %} {% block title %}Recipes index{% endblock %} {% block body %}
<div class="container mb-3">
    <div id="recipe-box">
        <div class="d-flex justify-content-between">


        </div>
        <table class="table align-middle mt-5 w-100">
            <thead class="uppercase">

                <tr>
                    <th class="col-3">
                        Picture
                    </th>
                    <th class="col-3">
                        Name
                    </th>
                    <th class="col-3">
                        Email
                    </th>
                    <th class="col-1">
                        Gender
                    </th>

                </tr>
            </thead>

            <tbody>

                <tr>
                    <td><img src="{{asset('pictures/'~user.picture)}}" width="70" class="rounded"></td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.gender }}</td>

                    <td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between mt-5">
            <h3>My Recipes:</h3>
            <a href="{{ path('app_recipes_new') }}" class="btn btn-outline-dark align-self-baseline"><i class="fa-solid fa-plus me-2"></i>add new recipe</a>
        </div>
        <hr>
        <div class="row row-cols-1 row-cols-md-3 g-4">

            {% for recipe in recipes %}
            <div class="col">
                <div class="card">
                    <img src="{{asset('pictures/'~recipe.Picture)}}" class="card-img-top cardImage">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.Name }}</h5>
                        <p class="card-text"><i class="fa-regular fa-user me-2"></i>{{ recipe.Servings }} Servings </p>
                        <p><i class="fa-regular fa-clock me-2"></i>{{ recipe.Time }} min</p>
                        <!--Buttons-->
                        <div class="d-flex justify-content-end">
                            <!--If user-->
                            {% if recipe.status == "in progress" %}
                            <a href="{{ path('app_dashboard_edit', {'id': recipe.id}) }}"><button class="btn btn-outline-dark me-2">Edit</button></a>
                            <a href="{{ path('app_recipes_delete_user', {'id': recipe.id}) }}"><button class="btn btn-outline-dark me-2">Delete</button></a> {% endif %}
                            <a href="{{ path('app_recipes_user_show', {'id': recipe.id}) }}"><button class="btn btn-outline-dark me-2"><i class="fa-solid fa-circle-info me-2"></i>Details</button></a>
                            <a href="{{ path('app_weekplanner_new', {'id': recipe.id}) }}"><button class="btn btn-outline-dark"><i class="fa-solid fa-plus me-2"></i>Add to Planner</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}