{% extends "base.html.twig" %} {% block body %} {% if condition %}{% endif %}

<h1>Users</h1>
<hr> {% if is_granted("ROLE_Admin") %}
<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Gender
            </th>
            <th>
                Picture
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.Name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.gender }}</td>
            <td><img src="{{asset('pictures/'~user.Picture)}}"></td>
            <td>
                <a href=""><button>Block</button></a>
                <a href="/{{user.id}}/edit"><button>Edit</button></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    

{% else %}
<!--Only User information-->

<h1>Recipes in Progress:</h1>

<!--Loop of Recipes in Progress-->
{# <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for recipe in recipes %}
    <div class="col">
        <div class="card">
            <img src="{{asset('pictures/'~recipe.Picture)}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.Name }}</h5>
                <p class="card-text"><i class="fa-regular fa-user me-2"></i>{{ recipe.Servings }} Servings </p>
                <p><i class="fa-regular fa-clock me-2"></i>{{ recipe.Time }}</p>
                <a href=""><button class="btn btn-outline-dark">Details</button></a>
                <a href=""><button class="btn btn-outline-dark">Approve</button></a>
            </div>
        </div>
    </div>
</div> #}



{% endblock %}