<div class="form_div w-100 container d-flex justify-content-center text-center">
    {{ form_start(form) }} {{ form_widget(form2) }}{{ form_widget(form) }} <button class="btn btn-outline-dark btnsize">{{ button_label|default('Create') }}</button>
    {{ form_end(form) }}
</div>