{% extends 'base.html.twig' %}

{% block title %}Recipes index{% endblock %}

{% block body %}
    <h1>Recipes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Picture</th>
                <th>Category</th>
                <th>Servings</th>
                <th>Price</th>
                <th>Time</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.Name }}</td>
                <td><img src="{{ asset("pictures/"~recipe.Picture) }}" alt=""></td>
                <td>{{ recipe.Category }}</td>
                <td>{{ recipe.Servings }}</td>
                <td>{{ recipe.Price }}</td>
                <td>{{ recipe.Time }}</td>
                <td>
                    {% if is_granted("ROLE_USER") %}
                    <a href="{{ path('app_recipes_show', {'id': recipe.id}) }}">show</a>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('app_recipes_edit', {'id': recipe.id}) }}">edit</a>
                    {% endif %}
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_USER") %}
    <a href="{{ path('app_recipes_new') }}">Create new</a>
    {% endif %}
{% endblock %}
