{% extends 'base.html.twig' %} {% block title %}Recipes index{% endblock %} {% block body %}
<div class="container mb-3">
    <div id="recipe-box">
        <div class="d-flex justify-content-between">
            <h1 class="text-center">All Recipes</h1>
            <a href="{{ path('app_recipes_new') }}" class="btn btn-outline-dark align-self-baseline"><i class="fa-solid fa-plus me-2"></i>add new recipe</a>
        </div>
        <hr>


        <div class="row row-cols-1 row-cols-md-3 g-4">

            {% for recipe in recipes %}
            <div class="col">
                <div class="card">
                    <img src="{{asset('pictures/'~recipe.Picture)}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.Name }}</h5>
                        <p class="card-text"><i class="fa-regular fa-user me-2"></i>{{ recipe.Servings }} Servings </p>
                        <p><i class="fa-regular fa-clock me-2"></i>{{ recipe.Time }}</p>
                        <a href="{{ path('app_static_show', {'id': recipe.id}) }}"><button class="btn btn-outline-dark">Details</button></a> {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('app_recipes_edit', {'id': recipe.id}) }}">edit</a>
                        <a href="{{ path('app_recipes_delete', {'id': recipe.id}) }}">delete</a> {% else %}
                        <a href="{{ path('app_static_add', {'id': recipe.id}) }}"><button class="btn btn-outline-dark">Add to Planner</button></a> {% endif %} {# {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('app_recipes_show', {'id': recipe.id}) }}"><button class="btn btn-outline-dark">Details</button></a> {% endif %} #}

                    </div>
                </div>
            </div>

            {# {% if is_granted("ROLE_USER") %}
            <a href="{{ path('app_recipes_show', {'id': recipe.id}) }}">show</a> {% endif %} {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('app_recipes_edit', {'id': recipe.id}) }}">edit</a> {% endif %} {% else %} #} {% endfor %}
        </div>
    </div>
</div>
{# {% if is_granted("ROLE_USER") %}
<a href="{{ path('app_recipes_new') }}">Create new</a> {% endif %} #} {% endblock %}