{% extends 'base.html.twig' %} {% block title %}{{recipe.name}}{% endblock %} {% block body %}
<div class="container">

    <img src="{{asset('pictures/'~recipe.Picture)}}" alt="" class="recipe-detailsImg" width="100%">
    <div class="my-4">
        <h1 class="text-center">{{recipe.name}}</h1>
        <div class="d-flex justify-content-around">
            <p><i class="fa-regular fa-user me-2"></i>{{recipe.Servings}} Servings</p>
            <p><i class="fa-regular fa-clock me-2"></i>{{recipe.time}} </p>
            {% if recipe.category == "Vegetarian" %}
            <p><i class="fa-solid fa-leaf me-2"></i>{{recipe.category}}</p>
            {% elseif recipe.category == "Vegan" %}
            <p><i class="fa-solid fa-seedling me-2"></i>{{recipe.category}}</p>
            {% else %}
            <p><i class="fa-solid fa-infinity me-2"></i>{{recipe.category}}</p>
            {% endif %}
            <p><i class="fa-solid fa-coins me-2"></i>{{recipe.price}} €</p>
        </div>
    </div>


    <div class="border rounded row row-cols-1 row-cols-md-2 p-4">
        <!--Ingredients-->
        <div>
            <h3>Ingredients</h3>
            <hr>
            <!--List for Ingredients-->
            <ul>
                {% for ing in joinRecipe %}
                <li>{{ing.fkIngredients.name}}</li>

                {% endfor %}

            </ul>

        </div>
        <!--Method-->
        <div>
            <h3>Method</h3>
            <hr>
            <!--List for Method-->
            <p>{{recipe.fkProcedure.instructions | nl2br}}</p>
        </div>

    </div>
    <div class="d-flex justify-content-center my-5 w-100">
        {% if is_granted("ROLE_USER") %}
        <a href="{{ path('app_recipes_index') }}" class="btn btn-outline-dark me-2"><i class="fa-solid fa-arrow-left me-2"></i>Back</a> {% if is_granted("ROLE_ADMIN") and is_granted("ROLE_USER") %}<a href="{{ path('app_recipes_edit', {'id': recipe.id}) }} "
            class="btn btn-outline-dark me-2"><i class="fa-solid fa-pencil me-2"></i>Edit</a> {{ include('recipes/_delete_form.html.twig') }} {% endif %} {% endif %}</div>
</div> {% endblock %}