{% extends "base.html.twig" %} {% block body %}
<div class="container">
    <div class="d-flex justify-content-between">
        <h3>Users:</h3>
        <a href="{{ path('app_user_new') }}" class="btn btn-outline-dark "><i class="fa-solid fa-plus me-2"></i>Create new user</a>
    </div>
    <hr>

    <table class="table align-middle mt-5">
        <thead class="uppercase">

            <tr>
                <th class="col-3">
                    Picture
                </th>
                <th class="col-3">
                    Name
                </th>
                <th class="col-3">
                    Email
                </th>
                <th class="col-1">
                    Gender
                </th>

                <th>
                    Action
                </th>
            </tr>
        </thead>

        <tbody>
            <!--Loop for all users-->

            {% for user in users %}
            <tr>
                <td><img src="{{user.picture}}" width="70" class="rounded"></td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.gender }}</td>

                <td>
                    <a href="/admin/block/{{user.id}}"><button class="btn btn-sm btn-outline-dark"><i class="fa-regular fa-circle-xmark me-2"></i>Block</button></a>

                    <a href="/admin/{{user.id}}/edit"><button class="btn btn-sm btn-outline-dark"><i class="fa-solid fa-pencil me-2"></i>Edit</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="my-5">
        <h3 class="">Recipes in Progress:</h3>
        <hr>

        <!--Loop of all Recipes in Progress-->

        <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
            {% for recipe in recipes %}
            <!-- needs a if condition only recipes in Progress-->
            {% if recipe.status == "in progress" %}
            <div class="col">
                <div class="card">
                    <img src="{{asset('pictures/'~recipe.Picture)}}" class="card-img-top cardImage">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.Name }}</h5>
                        <p class="card-text"><i class="fa-regular fa-user me-2"></i>{{ recipe.Servings }} Servings </p>
                        <p><i class="fa-regular fa-clock me-2"></i>{{ recipe.Time }}</p>
                        <!--Buttons-->
                        <div class="d-flex justify-content-end">
                            <a href="/admin/{{recipe.id}}/show"><button class="btn btn-outline-dark me-2"><i class="fa-solid fa-circle-info me-2"></i>Details</button></a>
                            <a href="/admin/aprove/{{recipe.id}}"><button class="btn btn-outline-dark"><i class="fa-regular fa-circle-check me-2"></i>Approve</button></a></div>
                    </div>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</div>
{% endblock %} {# <a href="{{ path('app_user_new') }}">Create new</a> #}